.background {
background-color: #6BFF32;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e1c200'/%3E%3Cstop offset='1' stop-color='%23e1c200' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ac96'/%3E%3Cstop offset='1' stop-color='%2300ac96' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235c005b'/%3E%3Cstop offset='1' stop-color='%235c005b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236BFF32'/%3E%3Cstop offset='1' stop-color='%236BFF32' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23910000'/%3E%3Cstop offset='1' stop-color='%23910000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23010027'/%3E%3Cstop offset='1' stop-color='%23010027' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.navbar{
    font-family: 'Oxygen', sans-serif;
    font-weight: 800;
    font-size: 1,3em;
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Rosario:wght@300&family=Rubik:wght@300&display=swap');
.softbox {border-radius: 18px;
    background: #d9d9d9;
  box-shadow:  15px 15px 35px #919191,
               -15px -15px 35px #ffffff;
}

h1 {  
  text-align: center;}
h2{
   text-align: center;
    font-family: 'Oxygen', sans-serif;
}
p{
    font-family: 'Rubik', sans-serif;
}

.container-logos{
  img{
    height: 40px;
    width: 60px;
  }
}

.hover-1 {
    background-image: linear-gradient(#2873EE,#2873EE);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
  }
.hover-1:hover {
    background-size: 100% 100%;
  }

  .hover-2 {
    background: linear-gradient(#2873EE 0 0) left / var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
  }
  .hover-2:hover {
    --p: 100%;
    background-position: right;
  }
.gradient-1{background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='574' height='68.9' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23DFFFEF' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");}

  @media (max-width: 768px){
    footer{
      a{
        display: flex;
      }
    }
  }
  //    .gradient-2{
//     background: rgb(81,0,255);
//     background: linear-gradient(0deg, rgba(81,0,255,1) 0%, rgba(210,189,255,1) 100%);}