.bg-green{
    background-color: #2873EE;
}



.header__buttons 
    {
        display: flex;
        margin: 2px;
        justify-content: space-evenly;
        font-family: 'Rosario', sans-serif;
    }   
    .btn{
        margin: 2px;
    }
.header__image {
        margin-top: 19px;
        margin-bottom: 19px;
        border-radius: 8px;
        box-shadow: 5px 5px 15px 5px #333333;
        
    }
    .hovercards{	
        &:hover{
        animation-name: hovercards;	
        animation-duration: 0.3s;
            transform: scale(1.15);
            z-index: 3;
        }
      }

footer {
    background-color: #111;
    color: #fff;
    padding: 9px;   

    img{@extend .hovercards;
    width: 30px;
    margin-right: 3px
    }

    a{@extend .hovercards;
    color: rgb(98, 101, 107);
    font-size: 1.1em;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Rosario', sans-serif;
    }
    
}